<div class="row-fluid">
	<div class="span6 offset2">
		<h1>
			<br>
			ijust<br>
			called<br>
			tosay<br>
			iloveyou<br>
		</h1>

		</h1>
	</div>

	<div class="span4">
	  	<h2>
	 		<%= form_for(@user) do |f| %>
	 		<%= render 'shared/error_messages' %>

			<label for="user_sendername">Sender Name</label>
	 		<input id="user_sendername" name="user[sendername]" size="30" type="text" />

	 		<label for="user_recipientname">Recipient Name</label>
	 		<input id="user_recipientname" name="user[recipientname]" size="30" type="text" />

	 		<label for="user_recipientphone">Recipient Phone Number</label>
	 		<input id="user_recipientphone" name="user[recipientphone]" size="30" type="text" class="input-large bfh-phone" data-format="+1 (ddd) ddd-dddd"/>

	 		<br>
 
	 		<%= f.submit "Send it!", class: "btn btn-large btn-primary" %>

	 		<% end %>
  		</h2> 

	</div>
 
</div>