 @import 'bootstrap';

body {
  background-color: #000000;
  padding-top: 200px;
}

/* Navbar */
.navbar-inverse .navbar-inner {
    background-color: #ec602f;
	border-color: transparent;
	background-image: none;
}

.navbar-inverse .nav > li > a {
  color: #fff;
  font-weight:500;
}

h1 {
	font-size: 50pt;
	color: #fff;
	text-shadow: 2px 2px 2px black;
}

h2 {
	color: white;
	text-shadow: 2px 2px 2px black;
}

.alert {
	margin-left: 0px
}

.row-fluid {
	background-image:url('steviewonder.png');
}
