<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Enter a phone number to call and play Stevie Wonder's 'I Just Called To Say I Love You'", root_path %></li>
					</ul>
				</nav>
			</div>
		</div>
</header>